.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #F6EEDF;
    width: 100vw;
    height: 88vh;
}
.contact-container h1{
    font-weight: bold;
    font-size: 52px;
    color: tomato;
}
@media screen and (max-width: 768px){
    h1{
        font-size: 38px;
    }
}